<div id="pagewrap">
    <div id="match_result">
        <div class="winner_cp">
          <img ng-src="img/trophy.png" alt="trophy">
        </div>
        <span class="corporation">Corporation</span>
        <span class="corporation_points">{{$ctrl.game.gameState[$ctrl.game.gameState.length-1].corporation.points}}</span>
        <div class="logo">
            <img ng-src="img/logo.png" alt="Dominium">
        </div>
        <span class="insurgents_points">{{$ctrl.game.gameState[$ctrl.game.gameState.length-1].insurgents.points}}</span>
        <span class="insurgents">Insurgents</span>
        <div class="winner_in">
          <img ng-src="img/trophy.png" alt="trophy">
        </div>
    </div>
    <div id="section_container">
        <section class="team_list left">
            <div class="player_row corporation" ng-repeat="player in $ctrl.game.gameState[0].corporation.players">
                <div class="image_div">
                    <img ng-src="../img/{{player.role}}.png" alt="{{player.role}}" />
                </div>
                <div class="energy">
                    <div class="info">
                        <span class="name">{{player.username}}</span>
                        <span class="infolabel">Energy</span>
                    </div>
                    <div id="{{player.username}}-energy" class="progress-bar" style="background-color:#4CC417;width:100%" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100</div>
                </div>
            </div>
        </section>
        <section id="map">
            <div class="replay_result table-responsive container" id="replay_result">
            </div>
            <div id="dominium-map"></div>
			<div class="gamestate-controls">
				<div style="float:left;">
					<button id="start-button" ng-click="$ctrl.playGame();">&#x21bb;</button>
					<button onclick="resumeOrPause();">&#9658;/&#10074;&#10074;</button>
				</div>
				<div style="float:right;background-color:white;">
					<button onclick="changeSpeed(0.5);">-</button>
					<div id="speed" style="display:inline-block;width:50px;">1</div>
					<button onclick="changeSpeed(2);">+</button>
				</div>
			</div>

        	
			<br/>
			
        </section>
        <section class="team_list right">
            <div class="player_row insurgents" ng-repeat="player in $ctrl.game.gameState[0].insurgents.players">
                <div class="energy">
                    <div class="info">
                        <span class="infolabel">Energy</span>
                        <span class="name">{{player.username}}</span>
                    </div>
                    <div id="{{player.username}}-energy" class="progress-bar" style="background-color:#4CC417;width:100%" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100</div>
                </div>
                <div class="image_div">
                    <img ng-src="../img/{{player.role}}.png" alt="{{player.role}}" />
                </div>
            </div>
        </section>
    </div>
    <div id="capture_points">
        <div class="capture_point" ng-repeat="cp in $ctrl.game.gameState[0].capturePoints">
            <div class="cp_info">
                <div class="cp_img">
                    <img ng-src="../img/tower.png" alt="tower" />
                </div>
                <div class="checkpoint"><span>{{cp.name}}</span></div>
            </div><div class="teamOwner">
                <div id="{{cp.name}}-owner" class="team_icon"><img ng-src="../img/diamond_blue.png" alt="{{player.role}}" /></div>
                <div class="progress-bar-container">
                  <span class="value_now"></span>
                  <div id="{{cp.name}}-energy" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                    
                  </div>
                </div>
            </div>
		</div>
    </div>
</div>

<h1 align="center" style="line-height:2em">Statistics</h1>

<div id="charts" class="container">
</div>


