<table class="final_score" style="width:100%">
    <tr>
        <td id="winnerA" align="center"><img width="50" width="50" src="../img/trophy.png" class="img-responsive" alt="golden_trophy"/></td>
        <td class="td_corporation">
            <h3>Corporation</h3></td>
        <td align="center">
            <h3 id="a_points">{{$ctrl.game.gameState[0].teamA.points}}</h3></td>
        <td align="center">
            <h3>VS</h3></td>
        <td  align="center">
            <h3 id="b_points">{{$ctrl.game.gameState[0].teamB.points}}</h3></td>
        <td class="td_insurgents">
            <h3>Insurgents</h3></td>
        <td align="center"><img width="50" width="50" src="../img/trophy.png" class="img-responsive" alt="golden_trophy"></td>
    </tr>
</table>
<hr/>
<table class="player_table">
    <tr>
        <td>
            <table>
                <tr ng-repeat="player in $ctrl.game.gameState[0].teamA.players">
                    <td style="padding: 10px;" align="center">
                    <script></script>
                    <img width="50" width="50" src="../img/viking.png" class="img-responsive" alt="viking"></td>
                    <td>
                        <h4>{{player.username}}</h4></td>
                    <!--td>{{player.role}}</td-->
                </tr>
                <tr ng-repeat="player in $ctrl.game.gameState[0].teamA.players">
                    <td style="padding: 10px;" align="center"><img width="50" width="50" src="../img/escudo.png" class="img-responsive" alt="viking"></td>
                    <td>
                        <h4>{{player.username}}</h4></td>
                    <!--td>{{player.role}}</td-->
                </tr>
                <tr ng-repeat="player in $ctrl.game.gameState[0].teamA.players">
                    <td style="padding: 10px;" align="center"><img width="50" width="50" src="../img/espada.png" class="img-responsive" alt="viking"></td>
                    <td>
                        <h4>{{player.username}}</h4></td>
                    <!--td>{{player.role}}</td-->
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr ng-repeat="player in $ctrl.game.gameState[0].teamB.players">
                <td>
                        <h4>{{player.username}}</h4></td>
                    <td id="winner" style="padding: 10px;" align="center"><img width="50" width="50" src="../img/viking.png" class="img-responsive" alt="viking"></td>
                    
                    <!--td>{{player.role}}</td-->
                </tr>
                <tr ng-repeat="player in $ctrl.game.gameState[0].teamB.players">
                    <td style="padding: 10px;" align="center"><img width="50" width="50" src="../img/escudo.png" class="img-responsive" alt="viking"></td>
                    <td>
                        <h4>{{player.username}}</h4></td>
                    <!--td>{{player.role}}</td-->
                </tr>
                <tr ng-repeat="player in $ctrl.game.gameState[0].teamB.players">
                    <td style="padding: 10px;" align="center"><img width="50" width="50" src="../img/espada.png" class="img-responsive" alt="viking"></td>
                    <td>
                        <h4>{{player.username}}</h4></td>
                    <!--td>{{player.role}}</td-->
                </tr>
            </table>
        </td>
    </tr>
</table>
<hr/>
<h2 align="center">Capture Points</h2>
<table width="100%">
    <tr>
        <td style="width=33%" ng-repeat="cp in $ctrl.game.gameState[0].capturePoints">
            <table>
                <tr align="center">
                    <td style="padding: 10px;" align="center"><img width="80" width="80" src="../img/tower.png" class="img-responsive" alt="tower"></td>
                </tr>
                <tr align="center">
                    <td>NAME</td>
                </tr>
                <tr align="center">
                    <td>ASDA</td>
                </tr>
                <tr align="center">
                    <td>LATITUDE</td>
                    <td>LONGITUDE</td>
                </tr>
                <tr align="center">
                    <td>23213</td>
                    <td>13123S</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<hr/>

<div align="center">
	<h2 align="center">Game Replay</h2>
	<button type="button" style="padding:10px; margin:10px;" ng-click="$ctrl.playGame();"><b>Play Game!</b></button>
	<div id="dominium-map" style="width:700px; height:512px"></div>
</div>

<h2 align="center">Final Result</h2>
