html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	width: 100%;
	height: 100vh;

}

body {
	/*font-family: 'Open Sans', sans-serif;*/
	background: url("img/bg.png") no-repeat center center fixed;
	background-color : #FFFFFF;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow-x: hidden;
}

@font-face {
    font-family: 'dom';
    src: url('fonts/4114blaster.ttf');
}

@font-face {
    font-family: 'textdom';
    src: url('fonts/Orbitron_Medium.ttf');
}


.topbar,
.footer {
	height: 10vh;
	width: 100vw;
	display: table;
}

.middle_page > .infos, 
.middle_page > .phone {
	display: table-cell;
	height: 80vh;
	width: 50%;
	text-align: center;
	padding-left: 90px;
}


.middle_page > .infos {
	vertical-align: top;
	border-radius: 25px;
	text-align: center;
	padding-left: 5%;
	padding-right: 5%;
}


.middle_page > .infos > .info {
	display: table;
	width: 100%;
	background-color: rgba(20, 20, 20,0.7);
	border-radius: 25px;
}


.middle_page > .infos > .info > .logo,
.middle_page > .infos > .info > .name,
.middle_page > .infos > .info > .description,
.middle_page > .infos > .info > .teaser,
.middle_page > .infos > .info > .subscribeForm,
.middle_page > .infos > .info > .icons,
.middle_page > .infos > .social-media{
	width: 100%;
	display: table-row;
	text-align: center;
}

.middle_page > .infos > .info > .logo > img {
	width: 200px;
	height: 200px;
}

.middle_page > .infos > .info > .name > span{
	font-family: dom;
	font-size: 3.5em;
	color: rgba(236, 240, 241,1.0);
}

.middle_page > .infos > .info > .description > span{
	font-family: textdom;
	font-size: 1.5em;
	color: rgba(236, 240, 241,1.0);
}

.middle_page > .infos > .info > .teaser > a > img {
	width: 50px;
	height: 50px;
	vertical-align: middle;
}

.middle_page > .infos > .info > .teaser > span {
	font-size: 2.0em;
	vertical-align: middle;
	padding-left: 5px;
	font-family: textdom;
	color: rgba(236, 240, 241,1.0);
}

.middle_page > .infos > .info > .subscribediv > .subscribeForm {
	display: table;
	height: 60px;
	vertical-align: middle;
}

/*.middle_page > .infos > .info > .subscribediv > .subs-div{
	display: table-cell;
	text-align: center;
}*/


.subs-but {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

.middle_page > .infos > .info > .icons {
	background-color: rgba(20, 20, 20,0.8);
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	vertical-align: middle;
	display: table;
	table-layout: fixed;
	height: 50px;
}

.middle_page > .infos > .info > .icons > .left-icons,
.middle_page > .infos > .info > .icons > .right-icons{
	display: table-cell;
	width: 30%
}

.middle_page > .infos > .info > .icons > .center-icons{ 
	width: 100%;
	display: table;
	font-family: textdom;
	font-size: 1.0em;
	color: rgba(236, 240, 241,1.0);
	vertical-align: middle;
	text-align: right;
	height: 100%;
}

.middle_page > .infos > .info > .icons > .center-icons > span {
	display: table-cell;
	text-align: center;	
	vertical-align: middle;
}

.middle_page > .infos > .info > .icons > .center-icons > .stores {
	vertical-align: middle;
	display: table;
	height: 100%;
}

.middle_page > .infos > .info > .icons > .center-icons > .stores > .gp_img,
.middle_page > .infos > .info > .icons > .center-icons > .stores > .ap_img{
	display: table-cell;
	vertical-align: middle;
	padding: 5px;
}

.middle_page > .infos > .info > .icons > .center-icons > .stores > .gp_img > img,
.middle_page > .infos > .info > .icons > .center-icons > .stores > .ap_img > img{ 
	width: 20px;
	height: 20px;
}

.middle_page > .infos > .social-media {
	display: table;
}

.middle_page > .infos > .social-media > .left_sm,
.middle_page > .infos > .social-media > .face_sm,
.middle_page > .infos > .social-media > .email_sm,
.middle_page > .infos > .social-media > .twitter_sm,
.middle_page > .infos > .social-media > .right_sm {
	display: table-cell;
}

.middle_page > .infos > .social-media > .left_sm,
.middle_page > .infos > .social-media > .right_sm {
	
}

.middle_page > .infos > .info > .subscribediv {
	width: 100%;
	height: 20vh;
	vertical-align: middle;
}

.middle_page > .phone > .image {
	width: 100%;
	height: 100%;
	position: relative;
}

.middle_page > .phone > .image > #phone-img {
	width: 300px;
	height: 594px;
	text-align: center;
	position: absolute;
	transform: translateX(-50%);
	z-index: 2;
}

.middle_page > .phone > #screen > #gif {
	width: 270px;
	height: 481px;
	text-align: center;
	margin-top: 48px;
	position: absolute;
	transform: translateX(-50%);
	z-index: 1;
}

.middle_page > .phone > button {
	width: 160px;
	text-align: center;
	background-color: transparent;/*#00bcd4;*/
	margin-top: 540px;
	position: absolute;
	transform: translateX(-50%);
	z-index: 3;
	border-radius: 8px;
	border: 3px solid rgba(236,240,241,1.0);
}

.middle_page > .phone > button > a {
	font-size: 150%;
	color: rgba(236,240,241,1.0);
}

.input-subs {
	display: table;
	table-layout: fixed;
	width: 100%;
}

.input-subs > input,
.input-subs > button{
	display: table-cell;
}

.input-subs > input {
	width: 80%;
	border-top-left-radius : 25px;
	border-bottom-left-radius : 25px;
}

.input-subs > button {
	border-top-right-radius : 25px;
	border-bottom-right-radius : 25px;
}

/*Video*/
.video-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	opacity: 0;
	z-index: -1;
}
.video {
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 90%;
	height: 80%;
}
