html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**************************************************************************/

html, body {
	width: 100%;
	height: 100%;

}

body {
	font-family: 'Open Sans', sans-serif;
	background: url("img/bg.png") no-repeat center center fixed;
	background-color : #FFFFFF;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.view-container {
	width: 100%;
	height: 100%;
}

.view-container {
  position: relative;
}

.view-frame.ng-enter,
.view-frame.ng-leave {
  background: white;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/*.view-frame.ng-enter {
  animation: 1s fade-in;
  z-index: 100;
}

.view-frame.ng-leave {
  animation: 1s fade-out;
  z-index: 99;
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to   { opacity: 0; }
}
*/

/****************************************************************************************/
/********************************* LAYOUT FROM PAGE *************************************/
/*****************************************************************************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
    font-family: 'dom';
    src: url('/font/4114blaster.ttf');
}


/* STRUCTURE GAME LIST */
.topbar {
	width: 100%;
	height: 150px;
	background-color: rgba(20, 20, 20,0.8);
	text-align: center;
	vertical-align: middle;
}

.topbar > img {
	padding-top: 10px;
	height: 90px;
	width: 90px;
}

.topbar > .name {
	font-size: 2.5em;
	vertical-align: middle;
	color: rgba(236, 240, 241,1.0);
	font-family: dom;
}

#all_page_list {
	width: 100%;
	border-left: none;
	border-right: none;
	display: table;
	table-layout: fixed;
	/*background-image: url("img/bg.png");*/
}

#all_page_list > .options {
	display: table-cell;
	width: 15%;
}

#all_page_list > .options.left {
	text-align: left;
}

#all_page_list > .options.right{
	text-align: right;
}

#all_page_list > .game_list {
	display: table-cell;
}

#all_page_list > .game_list > .single_game {
	display: table;
	margin: 3px;
	border-top: 2px solid rgba(127, 140, 141,1.0);
	border-bottom: 2px solid rgba(127, 140, 141,1.0);
	background-color : rgba(0, 0, 0,0.8);
}

#all_page_list > .game_list > .single_game.ng-enter,
#all_page_list > .game_list > .single_game.ng-leave,
#all_page_list > .game_list > .single_game.ng-move {
  transition: 0.5s linear all;
}

#all_page_list > .game_list > .single_game.ng-enter,
#all_page_list > .game_list > .single_game.ng-move {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

#all_page_list > .game_list > .single_game.ng-enter.ng-enter-active,
#all_page_list > .game_list > .single_game.ng-move.ng-move-active {
  height: 120px;
  opacity: 1;
}

#all_page_list > .game_list > .single_game.ng-leave {
  opacity: 1;
  overflow: hidden;
}

#all_page_list > .game_list > .single_game.ng-leave.ng-leave-active {
  height: 0;
  opacity: 0;
  padding-bottom: 0;
  padding-top: 0;
}

#all_page_list > .game_list > .single_game > .location_date {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 20%;
	background-color: rgba(20, 20, 20,0.5);
}

#all_page_list > .game_list > .single_game > .location_date > span{
	font-size: 0.9em;
	color: rgba(236, 240, 241,1.0);
	width: 100%;
}

#all_page_list > .game_list > .single_game > a > .info {
	display: table;
	width: 100%;
	background-color: rgba(20, 20, 20,0.2);
}


#all_page_list > .game_list > .single_game > a > .info > .team,
#all_page_list > .game_list > .single_game > a > .info > .info_game {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	height: 100%;
}

#all_page_list > .game_list > .single_game > a > .info > .team{
	width: 25%;
}

/*#all_page_list > .game_list > .single_game > .info > .team.left {
	border-right: 2px solid rgba(127, 140, 141,1.0);
}

#all_page_list > .game_list > .single_game > .info > .team.right {
	border-left: 2px solid rgba(127, 140, 141,1.0);
}*/

#all_page_list > .game_list > .single_game > a > .info > .info_game {
	width: 50%;
}

#all_page_list > .game_list > .single_game > a > .info > .team > .name_img{
	width: 100%;
	vertical-align: middle;
}

#all_page_list > .game_list > .single_game > a > .info > .team > .name_img > .img {
	text-align: center;
}

#all_page_list > .game_list > .single_game > a > .info > .team > .name_img > .img > img {
	/*border: 2px solid rgba(52, 73, 94, 0.15);*/
	height: 80px;
	width: 80px;
	margin: 10px;
}

#all_page_list > .game_list > .single_game > a > .info > .team > .name {
	width: 100%;
	display: table-row;
	text-align: center;
	font-size: 0.9em;
	vertical-align: middle;
	color: rgba(236, 240, 241,1.0);
}

#all_page_list > .game_list > .single_game > a > .info > .team > .name_img > .name > span {
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.2em;
	font-family: dom;
	color: rgba(236, 240, 241,1.0);
}

#all_page_list > .game_list > .single_game > a > .info > .team > .all_roles {
	width: 100%;
	display: table;
	border-top : 1px solid rgba(127, 140, 141,0.8);
}

#all_page_list > .game_list > .single_game > a > .info > .team > .all_roles > .role {
	display: table-cell;
	vertical-align: middle;
}

#all_page_list > .game_list > .single_game > a > .info > .team > .all_roles > .role > .image_div {
	text-align: center;
	vertical-align: middle;
	text-align: center;
	padding-left: 2px;
	padding-right: 2px;
	/*border: 2px solid rgba(52, 73, 94, 0.15);*/
}

#all_page_list > .game_list > .single_game > a > .info > .team > .all_roles > .role > .image_div.left {
	padding-left: 2px;
	padding-right: 2px;
}

#all_page_list > .game_list > .single_game > a > .info > .team > .all_roles > .role > .image_div.right {
	padding-right: 2px;
}

#all_page_list > .game_list > .single_game > a > .info > .team > .all_roles > .role > .image_div > img {
	padding-left: 2px;
	padding-right: 2px;
	width: 20px;
	height: 20px;
}

#all_page_list > .game_list > .single_game > a > .info > .info_game {
	width: 50%;
	text-align: center;
	vertical-align: middle;
}

#all_page_list > .game_list > .single_game > a > .info > .info_game > .result {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}

#all_page_list > .game_list > .single_game > a > .info > .info_game > .result > .cp_points,
#all_page_list > .game_list > .single_game > a > .info > .info_game > .result > .in_points{
	width: 30%;
	display: table-cell;
	font-size: 2.5em;
	font-family: dom;
	color: rgba(236, 240, 241,1.0);
}

/*#all_page_list > .game_list > .single_game > .info > .info_game > .result > .cp_points {
	padding-left: 50px;
}

#all_page_list > .game_list > .single_game > .info > .info_game > .result > .in_points {
	padding-right: 50px;
}*/

#all_page_list > .game_list > .single_game > a > .info > .info_game > .logo {
	display: table-cell;
	height: 20px;
}

#all_page_list > .game_list > .single_game > a > .info > .info_game > .result > .logo{
	display: table-cell;
}

#all_page_list > .game_list > .single_game > a > .info > .info_game > .result > .logo > img{
	width: 40px;
	height: 40px;
}

#all_page_list > .game_list > .single_game > a > .more_info {
	display: table-row;
	font-size: 0.5em;
}

#all_page_list > .game_list > .single_game > a > .info_game > .more_info > span {
	font-size: 0.7em;
}

#all_page_list > .game_list > .single_game > a > .info_game > .full_details > a > span {
	font-size: 0.7em;
}

a:link, a:visited, a:active {
    text-decoration: none;
    font-style: 
}

a:hover {
 text-decoration: bold;
}

/* STRUCTURE GAME DETAIL */
/* Header */

#pagewrap {
	width: 100%;
	height: 100%;
	border-left:none;
	border-right:none;
}

/************* FINAL RESULT **********************/


/*div {
    font-family: myFirstFont;
}*/

@media screen and (min-width: 1455px) {

	#top {
		width: 100%;
		display: table;
		table-layout: fixed;
		height: 120px;
		/*border-style: 1px solid rgba(52, 73, 94, 0.15);*/
		background-color: rgba(20, 20, 20,0.5);
	}

	#top > .margin_left,
	#top > .margin_right {
		width: 15%;
		display: table-cell;
	}

	#top > .match_result {
		display: table;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	#top > .match_result > .coorporation_name,
	#top > .match_result > .insurgents_name {
		display: table;
		vertical-align: middle;
		width: 20%;
	}

	#top > .match_result > .coorporation_name > .coorporation_fr,
	#top > .match_result > .coorporation_name > .name,
	#top > .match_result > .coorporation_name > .insurgents_fr,
	#top > .match_result > .coorporation_name > .name {
		display: table-row;
		vertical-align: middle;
		text-align: center;
	}

	#top > .match_result > .coorporation_name > .coorporation_fr.victory,
	#top > .match_result > .insurgents_name > .insurgents_fr.victory{
		color : rgba(39, 174, 96,0.8);
	}

	#top > .match_result > .coorporation_name > .coorporation_fr.defeat,
	#top > .match_result > .insurgents_name > .insurgents_fr.defeat{
		
		color : rgba(192, 57, 43,0.8);
	}

	#top > .match_result > .coorporation_name > .coorporation_fr.tie,
	#top > .match_result > .insurgents_name > .insurgents_fr.tie{
		color : rgba(243, 156, 18,0.8);
	}

	#top > .match_result > .coorporation_name,
	#top > .match_result > .coorporation_img,
	#top > .match_result > .coorporation_result,
	#top > .match_result > .logo,
	#top > .match_result > .insurgents_result,
	#top > .match_result > .insurgents_img,
	#top > .match_result > .insurgents_name {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}

	#top > .match_result > .coorporation_name > .coorporation_fr,
	#top > .match_result > .insurgents_name > .insurgents_fr {
		height: 20px;
		vertical-align: middle;
		font-family: dom;
		color: rgba(236, 240, 241,1.0);
		font-size: 1.2em;
		-webkit-transition: opacity 2s ease-in;
       -moz-transition: opacity 2s ease-in;
        -ms-transition: opacity 2s ease-in;
         -o-transition: opacity 2s ease-in;
            transition: opacity 2s ease-in;
	}

	#top > .match_result > .coorporation_name > .name,
	#top > .match_result > .insurgents_name > .name {
		height: 40px;
		vertical-align: middle;
		font-family: dom;
		color: rgba(236, 240, 241,1.0);
		font-size: 2.5em;
	}

	#top > .match_result > .logo {
		width: 10%;
		padding-left: 10px;
		padding-right: 10px;
	}

	#top > .match_result > .coorporation_img,
	#top > .match_result > .insurgents_img {
		width: 25%;
		padding-left: 10px;
		padding-right: 10px;
	}

	#top > .match_result > .coorporation_result,
	#top > .match_result > .insurgents_result {
		width: 10%;
		font-family: dom;
		color: rgba(236, 240, 241,0.5);
		font-size: 2.0em;
	}

	#top > .match_result > .coorporation_img > img,
	#top > .match_result > .insurgents_img > img {
		width: 120px;
		height: 120px;
	}

	#top > .match_result > .logo > img {
		width: 40px;
		height: 40px;
	}
}

@media screen and (max-width: 1450px) and (min-width: 1150px ) {

	#top {
		width: 100%;
		display: table;
		table-layout: fixed;
		height: 120px;
		/*border-style: 1px solid rgba(52, 73, 94, 0.15);*/
		background-color: rgba(20, 20, 20,0.5);
	}

	#top > .margin_left,
	#top > .margin_right {
		width: 5%;
		display: table-cell;
	}

	#top > .match_result {
		display: table;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	#top > .match_result > .coorporation_name,
	#top > .match_result > .insurgents_name {
		display: table;
		vertical-align: middle;
		width: 20%;
	}

	#top > .match_result > .coorporation_name > .coorporation_fr,
	#top > .match_result > .coorporation_name > .name,
	#top > .match_result > .coorporation_name > .insurgents_fr,
	#top > .match_result > .coorporation_name > .name {
		display: table-row;
		vertical-align: middle;
		text-align: center;
	}

	#top > .match_result > .coorporation_name > .coorporation_fr.victory,
	#top > .match_result > .insurgents_name > .insurgents_fr.victory{
		color : rgba(39, 174, 96,0.8);
	}

	#top > .match_result > .coorporation_name > .coorporation_fr.defeat,
	#top > .match_result > .insurgents_name > .insurgents_fr.defeat{
		
		color : rgba(192, 57, 43,0.8);
	}

	#top > .match_result > .coorporation_name > .coorporation_fr.tie,
	#top > .match_result > .insurgents_name > .insurgents_fr.tie{
		color : rgba(243, 156, 18,0.8);
	}

	#top > .match_result > .coorporation_name,
	#top > .match_result > .coorporation_img,
	#top > .match_result > .coorporation_result,
	#top > .match_result > .logo,
	#top > .match_result > .insurgents_result,
	#top > .match_result > .insurgents_img,
	#top > .match_result > .insurgents_name {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}

	#top > .match_result > .coorporation_name > .coorporation_fr,
	#top > .match_result > .insurgents_name > .insurgents_fr {
		height: 20px;
		vertical-align: middle;
		font-family: dom;
		color: rgba(236, 240, 241,1.0);
		font-size: 1.2em;
		-webkit-transition: opacity 2s ease-in;
       -moz-transition: opacity 2s ease-in;
        -ms-transition: opacity 2s ease-in;
         -o-transition: opacity 2s ease-in;
            transition: opacity 2s ease-in;

	}

	#top > .match_result > .coorporation_name > .name,
	#top > .match_result > .insurgents_name > .name {
		height: 40px;
		vertical-align: middle;
		font-family: dom;
		color: rgba(236, 240, 241,1.0);
		font-size: 2.5em;
	}

	#top > .match_result > .logo {
		width: 10%;
		padding-left: 10px;
		padding-right: 10px;
	}

	#top > .match_result > .coorporation_img,
	#top > .match_result > .insurgents_img {
		width: 25%;
		padding-left: 10px;
		padding-right: 10px;
	}

	#top > .match_result > .coorporation_result,
	#top > .match_result > .insurgents_result {
		width: 10%;
		font-family: dom;
		color: rgba(236, 240, 241,0.5);
		font-size: 2.0em;
	}

	#top > .match_result > .coorporation_img > img,
	#top > .match_result > .insurgents_img > img {
		width: 120px;
		height: 120px;
	}

	#top > .match_result > .logo > img {
		width: 40px;
		height: 40px;
	}
}

@media screen and (max-width: 1149px) {

	#top {
		width: 100%;
		display: table;
		table-layout: fixed;
		height: 120px;
		/*border-style: 1px solid rgba(52, 73, 94, 0.15);*/
		background-color: rgba(20, 20, 20,0.5);
	}

	#top > .margin_left,
	#top > .margin_right {
		width: 5%;
		display: table-cell;
	}

	#top > .match_result {
		display: table;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	#top > .match_result > .coorporation_name,
	#top > .match_result > .insurgents_name {
		display: table;
		vertical-align: middle;
		width: 20%;
	}

	#top > .match_result > .coorporation_name > .coorporation_fr,
	#top > .match_result > .coorporation_name > .name,
	#top > .match_result > .coorporation_name > .insurgents_fr,
	#top > .match_result > .coorporation_name > .name {
		display: table-row;
		vertical-align: middle;
		text-align: center;
	}

	#top > .match_result > .coorporation_name > .coorporation_fr.victory,
	#top > .match_result > .insurgents_name > .insurgents_fr.victory{
		color : rgba(39, 174, 96,0.8);
	}

	#top > .match_result > .coorporation_name > .coorporation_fr.defeat,
	#top > .match_result > .insurgents_name > .insurgents_fr.defeat{
		
		color : rgba(192, 57, 43,0.8);
	}

	#top > .match_result > .coorporation_name > .coorporation_fr.tie,
	#top > .match_result > .insurgents_name > .insurgents_fr.tie{
		color : rgba(243, 156, 18,0.8);
	}

	#top > .match_result > .coorporation_name,
	#top > .match_result > .coorporation_img,
	#top > .match_result > .coorporation_result,
	#top > .match_result > .logo,
	#top > .match_result > .insurgents_result,
	#top > .match_result > .insurgents_img,
	#top > .match_result > .insurgents_name {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}

	#top > .match_result > .coorporation_name > .coorporation_fr,
	#top > .match_result > .insurgents_name > .insurgents_fr {
		height: 20px;
		vertical-align: middle;
		font-family: dom;
		color: rgba(236, 240, 241,1.0);
		font-size: 1.0em;
		-webkit-transition: opacity 2s ease-in;
       -moz-transition: opacity 2s ease-in;
        -ms-transition: opacity 2s ease-in;
         -o-transition: opacity 2s ease-in;
            transition: opacity 2s ease-in;

	}

	#top > .match_result > .coorporation_name > .name,
	#top > .match_result > .insurgents_name > .name {
		height: 40px;
		vertical-align: middle;
		font-family: dom;
		color: rgba(236, 240, 241,1.0);
		font-size: 1.5em;
	}

	#top > .match_result > .logo {
		width: 10%;
		padding-left: 10px;
		padding-right: 10px;
	}

	#top > .match_result > .coorporation_img,
	#top > .match_result > .insurgents_img {
		width: 25%;
		padding-left: 10px;
		padding-right: 10px;
	}

	#top > .match_result > .coorporation_result,
	#top > .match_result > .insurgents_result {
		width: 10%;
		font-family: dom;
		color: rgba(236, 240, 241,0.5);
		font-size: 1.5em;
	}

	#top > .match_result > .coorporation_img > img,
	#top > .match_result > .insurgents_img > img {
		width: 80px;
		height: 80px;
	}

	#top > .match_result > .logo > img {
		width: 20px;
		height: 20px;
	}
}





/*#match_result {
	width: 100%;
	display: table;
	table-layout: fixed;
	height: 120px;
	/*border-style: 1px solid rgba(52, 73, 94, 0.15);
	background-color: rgba(20, 20, 20,0.5);
}

#margin_left,
#margin_right {
	display: table-cell;
	width: 20%;
}

#match_result > .final_result {
	display: table-cell;
	width: 60%;
}

#match_result > .coorporation_name,
#match_result > .coorporation_img,
#match_result > .coorporation_result,
#match_result > .logo,
#match_result > .insurgents_result,
#match_result > .insurgents_img, 
#match_result > .insurgents_name {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	text-align: center;
}



#match_result > .winner_cp,
#match_result > span.corporation_points,
#match_result > .logo,
#match_result > span.insurgents_points,
#match_result > .winner_in {
	width: 20%;
}

#match_result > span.corporation,
#match_result > span.insurgents {
	width: 25%;
}

#match_result > .winner_cp > img,
#match_result > .winner_in > img {
	opacity: 0;
	-webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 1.5s ease-in-out;
}

#match_result > .logo > img,
#match_result > .winner_cp > img,
#match_result > .winner_in > img {
	height: 60px;
}

#match_result > .winner_cp.won > img,
#match_result > .winner_in.won > img {
	opacity: 1;
}


#match_result > span.corporation,
#match_result > span.corporation_points,
#match_result > span.insurgents_points,
#match_result > span.insurgents {
	text-transform: uppercase;
	font-size: 1.5em;
	color: rgba(236, 240, 241,1.0);
}*/


/********************** TEAMS AND MAP **************************/

#section_container {
	width: 100%;
	display: table;
	table-layout: fixed;

}

#section_container > .team_list,
#section_container > #map {
	display: table-cell;
	vertical-align: top;
	overflow-x: hidden;
}

#section_container > .team_list {
	width: 25%;
}

#section_container > #map{
	width: 50%;
	text-align: center;
}

#section_container > .team_list > .player_row {
	width: calc(100% - 2px);
	position: relative;
	display: table;
	height: 60px;
	margin-bottom: 5px;
	border: 1px solid rgba(52, 73, 94, 0.15);
}

#section_container > .team_list > .player_row > .player_selection {
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
}

#section_container > .team_list > .player_row:last-of-type {
	margin-bottom: 0;
}

#section_container >  .team_list > .player_row > .image_div,
#section_container >  .team_list > .player_row > .energy {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	border:none;
	margin:0;
	padding: 0;
}

#section_container >  .team_list > .player_row > .image_div {
	width: 20%;
}

#section_container >  .team_list.left > .player_row > .image_div {
	/*border-left: 2px solid #16a085;*/
	text-align: center;
}

#section_container >  .team_list.right > .player_row > .image_div {
	/*border-right: 2px solid #e74c3c;*/
	text-align: center;
}

#section_container >  .team_list > .player_row > .energy {
	/*width: 90%; isto muda consoante a cena*/
	background-color: rgba(20, 20, 20,0.5);
	vertical-align: middle;
}

#section_container >  .team_list > .player_row > .image_div > img {
	width: 60px;
	height: 60px;
}

#section_container >  .team_list > .player_row > .energy > .info,
#section_container >  .team_list > .player_row > .energy > .progress-bar {
	display: block;
	width: 100%;
	overflow: hidden;
	height: 50%;
	vertical-align: middle;
	text-align: center;

}

#section_container >  .team_list > .player_row > .energy > .info > span.infolabel{
	text-align: center;
	font-size: 1.2em;
	opacity: 0.6;
	color: rgba(236, 240, 241,1.0);

}

/*#section_container >  .team_list > .player_row > .energy > .info > span.infolabel {
	font-size: 1.0em;
	opacity: 0.6;
	color: rgba(236, 240, 241,1.0);
}

#section_container >  .team_list > .player_row > .energy > .info > span.name {
	font-size: 0.9em;
	color: #444;
	color: rgba(236, 240, 241,1.0);
}

#section_container >  .team_list.left > .player_row > .energy > .info > span.infolabel,
#section_container >  .team_list.right > .player_row > .energy > .info > span.infolabel {
	text-align: center;
	font-size: 1.2em;
	opacity: 0.6;
	color: rgba(236, 240, 241,1.0);

}*/


#dominium-map {
	width: 98%;
	padding: 0;
	margin: 0 1%;
	min-height: 450px;
}

/************* CAPTURE POINTS ******************/
/*#capture_points {
	width: 100%;
	display: block;
}

#capture_points > .capture_point {
	display: inline-block;
	vertical-align: center;
	margin-left: 1.25%;
	width: calc(95% / 3 - 4px);
	border: 2px solid rgba(28,28,28,0.3);
	border-radius: 4px;
	overflow:hidden;
} 

#capture_points > .capture_point:last-of-type {
	margin-right: 1.25%;
}

#capture_points > .capture_point > .cp_info,
#capture_points > .capture_point > .teamOwner {
	width: 50%;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	overflow-x: hidden;
}

#capture_points > .capture_point > .cp_info > div,
#capture_points > .capture_point > .teamOwner > div {
	display: block;
	width: 100%;
}

#capture_points > .capture_point > .cp_info > .cp_img,
#capture_points > .capture_point > .teamOwner > .team_icon{
	text-align: center;
	height: 100px;		
}

#capture_points > .capture_point > .cp_info > .checkpoint,
#capture_points > .capture_point > .teamOwner > .progress-bar-container {
	height: 40px;
	text-align: center;
	line-height: 40px;
}

#capture_points > .capture_point > .teamOwner > .progress-bar-container {
	background-color: rgba(189, 195, 199, 0.5);
	position: relative;
}

#capture_points > .capture_point > .teamOwner > .progress-bar-container > .progress-bar {
	height: 100%;
}

#capture_points > .capture_point > .teamOwner > .progress-bar-container > span.value_now {
	text-align: right;
	position: absolute;
	top:0;
	right: 2%;
	bottom: 0;
	z-index: 100;
	color: rgba(25,25,25,0.8);
	font-size: 0.8em;
}

#capture_points > .capture_point > .cp_info > .cp_img > img,
#capture_points > .capture_point > .teamOwner > .info > .team_icon > img {
	display: block;
	height: 80%;
	margin: 10% auto;
}*/

/***********************************/
/*		ARROW DOWN AND UP          */
/***********************************/

.slider_down{
	width: 100%;
	height: 500px;
	display: table;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 30px;
}

.slider_down > a > span {
	display: table-cell;
	text-align: center;
	vertical-align: top;
	font-family: dom;
	font-size: 2.0em;
	color : rgba(149, 165, 166,0.5);
}

#slider_up{
	width: 100%;
	height: 30px;
	display: table;
	text-align: center;
	padding-bottom: 5px;
	vertical-align: middle;
}

#slider_up > a > span {
	display: table-cell;
	text-align: center;
	vertical-align: bottom;
	font-family: dom;
	font-size: 2.0em;
	color : rgba(149, 165, 166,0.5);
}

/***********************************/
/*			FULL STATS 	           */
/***********************************/

.game_stats_title {
	width: 100%;
	height: 100px;
	text-align: center;
	border-top: 2px solid rgba(127, 140, 141,1.0);
	border-bottom: 2px solid rgba(127, 140, 141,1.0);
	display: table;
	vertical-align: middle;
}

.game_stats_title > span {
	display: table-cell;
	vertical-align: middle;
	font-family: dom;
	font-size: 3.5em;
	color : rgba(149, 165, 166,1.0);
}


#full_stats {
	width: 100%;
	display: table;
	table-layout: fixed;
	padding-bottom: 50px;
}

#full_stats > .margin_left,
#full_stats > .margin_right {
	display: table-cell;
	width: 5%;
}

#full_stats > .stats {
	display: table-cell;
}


#full_stats > .stats > .control_value {
	width: 100%;
	display: table;
	table-layout: fixed;
	padding-bottom: 10px;
	overflow-x: scroll;
}


#full_stats > .stats > .control_value > .title_cv > span {
	text-align: center;
	font-size: 1.5em;
}


#full_stats > .stats > .control_value > #canvas_cv {
	display: table;
	vertical-align: middle;
	text-align: center;
	height: 250px;
	background-color: rgba(20, 20, 20,0.5);
	text-align: center;
	vertical-align: center;
	display: block;
	overflow-x: scroll;
	overflow-y: hidden
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(149, 165, 166,1.0); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(149, 165, 166,1.0); 
}

#full_stats > .stats > .control_value > #canvas_cv > .circular_canvas{
	display: table-cell;
	table-layout: fixed;
	text-align: center;
	vertical-align: center;
	padding-bottom: 30px;
	padding-left: 10px;
	width: calc(100% / 5);
}

#full_stats > .stats > .control_value > #canvas_cv > .circular_canvas > iframe > .canvas_style{
	display: block;
}



/*#full_stats > .stats > .control_value > #canvas_cv > #pointControl > div > canvas{
	table-layout: table-cell;
}*/

#full_stats > .stats > .more_stats {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 350px;
}

#full_stats > .stats > .more_stats > .travel_distance {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
	text-align: center;
	height: 350px;

}

#full_stats > .stats > .more_stats > .travel_distance > #canvas_td {
	vertical-align: middle;
	text-align: center;
	height: 100%;
	padding-right: 20px;
}

#full_stats > .stats > .more_stats > .travel_distance > #canvas_td > #distanceCanvas {
	background-color: rgba(20, 20, 20,0.5);
}

#full_stats > .stats > .more_stats > .score_change {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
	text-align: center;
	height: 250px;
}

#full_stats > .stats > .more_stats > .score_change > #canvas_sc {
	vertical-align: middle;
	text-align: center;
	height: 100%;
}

#full_stats > .stats > .more_stats > .score_change > #canvas_sc > #pointTimeCanvas{
	background-color: rgba(20, 20, 20,0.5);
}

/***********************************/
/*			Map Energy Color 		*/
/***********************************/

.map_label {
	overflow: visible !important;
	transform: translateX(-50%);
}

.text_label {
	display: block;
	font-size: 150%;
	font-weight: bold;
	color: white;
	-webkit-text-fill-color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	text-shadow: 2px 2px black;
}

.energy-progress-bar {
	width: 100px;
	border: 1px solid black;
}

.energy-progress-bar tr{
	width: 100%;
	background-color: white;
}

.energy-progress-bar tr td{
	width: 50%;
	position: relative;
	height: 10px;
}

.energy-progress-bar tr td span{
	position: absolute;
	text-align: center;
	left: 0;
	width: 100%;
	z-index: 100;
}

.energy-progress-bar tr td div{
	position: absolute;
	z-index: 50;
	height: 10px;
}

.energy-progress-bar tr td:first-child div{
	right:0;	
	background-color: #16a085;
}

.energy-progress-bar tr td:last-child div{
	left:0;
	background-color: #e74c3c;
}

#map > .gamestate-controls {
	width: 98%;
	margin-left: 1%;
	margin-right: 1%;
	height: 30px;
	display: table;
	background-color: rgba(20, 20, 20,0.5);
	padding-top: 5px;
}

.gamestate-controls > .buttons_left{
	height: 100%;
	display: table-cell;
	width: 50%;
	text-align: left;
}

.gamestate-controls > .buttons_left > .playorpause{
	display: table-cell;
}

.gamestate-controls > .buttons_left > #start-button{
	display: table-cell;
}

.gamestate-controls > .buttons_right{
	display: table;
	width: 100%;
	height: 100%;
}

.gamestate-controls > .buttons_right > .space{
	display: table-cell;
	width: 50%;
}

.gamestate-controls > .buttons_right > .buttons_plusminus{
	display: table;
	width: 100%;
}

.gamestate-controls > .buttons_right > .buttons_plusminus >  .plus_div,
.gamestate-controls > .buttons_right > .buttons_plusminus > .minus_div,
.gamestate-controls > .buttons_right > .buttons_plusminus > .values_div{
	display: table-cell;
	table-layout: fixed;
}

.gamestate-controls > .buttons_right > .buttons_plusminus > .plus_div,
.gamestate-controls > .buttons_right > .buttons_plusminus > .minus_div,{
	text-align: right;
}

.gamestate-controls > .buttons_right > .buttons_plusminus > .values_div{
	width: 200px;
	text-align: center;
}
/*.gamestate-controls > .buttons_right > .plus_div,
.gamestate-controls > .buttons_right > .minus_div {
}

.gamestate-controls > .buttons_right > .values {
}*/

.gamestate-controls > .buttons_right > .buttons_plusminus >  .values > #speed,
.gamestate-controls > .buttons_right > .buttons_plusminus > .values > .x{
	color: rgba(189, 195, 199,1.0);
	font-size: 1.2em;
}



}


/*

.gamestate-controls div:first-child{
	float: left;
}
.gamestate-controls div:last-child{
	float: right;
}

.gamestate-controls div *{
	height: 100%;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
	font-size: 120%;
}

.gamestate-controls div div{
	display:inline-block;
	width:70px;
	font-size:80%;
	box-shadow: inset 0 15px 0 -10px buttonface, inset 0 -15px 0 -10px buttonface; 
}

.gamestate-controls div button{
	min-width: 30px;
	border: none;
}

.gamestate-controls > .buttons_right > span {
	background-color: #000000; 
}

*/
/*#full_stats > .stats > .more_stats > .travel_distance > .title_cv > span {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
	text-align: center;
}*/

/*.style-button {
    position: relative;
    border: none;
    font-size: 5px;
    color: #FFFFFF;
    padding: 5px;
    width: 80px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    /*transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.style-button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.style-button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}*/
