html, body {
	width: 100%;
	height: 100%;
	background-color: #ecf0f1;
	padding-top: 20px;
}

.view-container {
	width: 100%;
	height: 100%;
}

.head_table {
	text-align: center;
	font-size: 150%;
	font-weight: 900
}

.body_table {
	text-align: center;
	font-size: 120%;
}

.td_corporation {
	color : #16a085;
	text-align: center;
}

.td_insurgents {
	color : #e74c3c;
	text-align: center;
}

.player_table {
	width: 100%;
	font-size: 120%;
	text-align: center;
}

.player_table td {
	padding-left: 150px;
}

.final_score {
    border-collapse:separate;
    /*border:solid black 1px;
    border-radius:6px;
    -moz-border-radius:6px;*/
}

.final_score td, th {
   /* border-left:solid black 0px;
    border-top:solid black 0px;
    padding-top: 10px;
    padding-bottom: 10px;*/
}

.final_score th {
    background-color: blue;
    border-top: none;
}

.final_score td:first-child, th:first-child {
     border-left: none;
}

.game_details{
	width: 100%;
	border: 1px;
	text-align: center;
}

.td_players {
	text-align: center;
	padding-top: 10px;
}

.map_replay {
	text-align: center;
}

.progress {
	padding-top: 5px;
}

.player_username{
	padding-right: 50px;
}

.role_img{
	padding-left: 10px;
	padding-right: 20px; 
}

.player_energy{
	padding-left: 20px;
}

.map_replay{
	text-align: center;
	padding-left: 100px;
	height: 10%;
}


.player_stats{
	border: 1px;
	border-style: solid;
	border-color: #16a085;
	padding-bottom: 100px;
	text-align: center;
}

.player {
	margin-left: 5px;
	width: 100%;
	height: 100%;
}

.player_data{
	height: 100%;
	width: 100%;
}

.final_score {
	width:100%;
	padding-right: 50px;
}

.aux_result {
	width: 10%;
}

.progress-bar {
	width: 100%;
	height: 50%;
}

.cp-energy {
	width: 20%;
}

.checkpoints {
	width: 100%;
	height: 100%;
}

.cp_img {
	height: 50px;
	width: 50px;
}

/* FONT AWESOME & not necessary for functions */
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');



/*REQUIRED*/
.carousel-row {
    margin-bottom: 10px;
}

.slide-row {
    padding: 0;
    border: 2px solid #e7e7e7;
    border-left: 4px solid #16a085;
    overflow: hidden;
    height: auto;
    position: left;
}


.slide-carousel {
    width: 20%;
    float: left;
    display: inline-block;
}

.slide-carousel .carousel-indicators {
    margin-bottom: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
}

.slide-carousel .carousel-indicators li {
    border-radius: 0;
    width: 20px;
    height: 6px;
}

.slide-carousel .carousel-indicators .active {
    margin: 1px;
}

.slide-content {
    position: absolute;
    top: 0;
    left: 20%;
    display: block;
    float: left;
    width: 30%;
    max-height: 60%;
    padding: 1.5% 2% 2% 2%;
    overflow-y: auto;
}

.slide-content h4 {
    margin-bottom: 3px;
    margin-top: 0;
    text-align: center;
}

.slide-footer {
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 75%;
    height: 100%;
    margin: 1%;
}

.slide-footercp {
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 100%;
    height: 100%;
    margin: 1%;
}

/* Scrollbars */
.slide-content::-webkit-scrollbar {
  width: 5px;
}
 
.slide-content::-webkit-scrollbar-thumb:vertical {
  margin: 5px;
  background-color: #999;
  -webkit-border-radius: 5px;
}
 
.slide-content::-webkit-scrollbar-button:start:decrement,
.slide-content::-webkit-scrollbar-button:end:increment {
  height: 5px;
  display: block;
}
/****************************************************************************************/
/********************************* LAYOUT FROM PAGE *************************************/
/*****************************************************************************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body { 
  font-family: 'Open Sans', sans-serif;
  color: #666;
}

/* STRUCTURE */

#pagewrap {
	padding: 5px;
	width: 1280px auto;
	height: 800px auto;
	margin: 5px auto;
}
header {
	height: 80px;
	padding: 0 15px;
}
#content {
	width: 330px;
	float: left;
	padding: 5px 15px;
}

#middle {
	width: 700px; /* Account for margins + border values */
	float: left;
	padding: 5px;
	margin: 0px 5px 5px 5px;
}

#sidebar {
	width: 330px;
	padding: 5px 15px;
	float: left;
}
footer {
	width: 100%;
	height: 100%;
	clear: both;
	padding: 0 15px;
}

.checkpoints_footer{
	width: 100%;
	height: 100%;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {
	
	#pagewrap {
		width: 94%;
	}
	#content {
		width: 41%;
		padding: 1% 4%;
	}
	#middle {
		width: 41%;
		padding: 1% 4%;
		margin: 0px 0px 5px 5px;
		float: right;
	}
	
	#sidebar {
		clear: both;
		padding: 1% 4%;
		width: auto;
		float: none;
	}

	header, footer {
		padding: 1% 5%;
	}
}

/* for 700px or less */
@media screen and (max-width: 600px) {

	#content {
		width: auto;
		float: none;
	}
	
	#middle {
		width: auto;
		float: none;
		margin-left: 0px;
	}
	
	#sidebar {
		width: auto;
		float: none;
	}

}

/* for 480px or less */
@media screen and (max-width: 480px) {

	header {
		height: auto;
	}
	h1 {
		font-size: 2em;
	}
	#sidebar {
		display: none;
	}

}


#content {
	background: #f8f8f8;
}
#sidebar {
	background: #f0efef;
}
header, #content, #middle, #sidebar {
	margin-bottom: 5px;
}

#pagewrap, header, #content, #middle, #sidebar, footer {
	border: solid 1px #ccc;
}


