<div class="topbar">
    <div class="topbar_img">
        <img ng-src="img/logo-gray.png" alt="Dominium">
    </div>
    <div class="name"><span>DOMINIUM GAMES</span></div>
</div>
<div class="navbar">
    <a href="" ng-click="$ctrl.allReplayGames();">
        <div id="replay-tab" class="replay">
            <div class="title"><span>Replay</span></div>
        </div>
    </a>
    <a href="" ng-click="$ctrl.allLiveGames();">
        <div id="live-tab" class="live">
            <div class="title"><span>Live</span></div>
        </div>
    </a>
</div>
<div id="all_page_list">
    <div class="options left"></div>
    <div class="game_list">
        <div class="single_game" ng-repeat="game in $ctrl.games | filter: $ctrl.getFilter()">
            <a href="#!/games/{{game._id}}">
                <!--div class="info" style="background-color: {{$ctrl.getColor(game,0.2)}}; border: 2px solid {{$ctrl.getColor(game,1)}};"-->
                <div class="info" style="border: 2px solid rgba(127, 140, 141,1.0)">
                    <div class="team">
                        <div class="name_img">
                            <div class="img"><img ng-src="img/team_roles/{{game.gameState[0].corporation.color_name}}Logo.svg" alt="" /></div>
                            <div class="name">
                                <span>{{game.gameState[0].corporation.color_name}} Team</span>
                            </div>
                        </div>
                        <div class="all_roles">
                            <div class="role" ng-repeat="player in game.gameState[0].corporation.players">
                                <div class="image_div right">
                                    <img title="{{player.username}}" ng-src="../img/team_roles/{{game.gameState[0].corporation.color_name}}{{player.role}}Border.svg" alt="{{player.role}}" alt="{{player.role}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info_game">
                        <div class="result">
                            <div class=cp_points>
                                <div class="res {{$ctrl.getCorpResult(game)}}">{{$ctrl.getCorpResult(game)}}</div>
                                <span>{{game.gameState[game.gameState.length-1].corporation.points}}</span></div>
                            <div class="logo"><img ng-src="img/logo-gray.png" alt="Dominium" /></div>
                            <div class="in_points">
                                <div class="res {{$ctrl.getInsResult(game)}}">{{$ctrl.getInsResult(game)}}</div>
                                <span>{{game.gameState[game.gameState.length-1].insurgents.points}}</span></div>
                        </div>
                        <div class="location_date">
                            <span>{{game.location}}, {{game.gameState[0].timeStamp}}</span>
                        </div>
                    </div>
                    <div class="team">
                        <div class="name_img">
                            <div class="img"><img ng-src="../img/team_roles/{{game.gameState[0].insurgents.color_name}}Logo.svg" alt="coorporation" /></div>
                            <div class="name">
                                <span>{{game.gameState[0].insurgents.color_name}} Team</span>
                            </div>
                        </div>
                        <div class="all_roles">
                            <div class="role" ng-repeat="player in game.gameState[0].insurgents.players">
                                <div class="image_div right">
                                    <img title="{{player.username}}" ng-src="../img/team_roles/{{game.gameState[0].insurgents.color_name}}{{player.role}}Border.svg" alt="{{player.role}}" alt="{{player.role}}" alt="{{player.role}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="options right"></div>
</div>
